APP_NAME=EmmieFigures
APP_ENV=local
APP_DEBUG=true
PORT=3000
VITE_APP_URL=http://localhost:3000

EMMIE_REPORTS_URL=https://app.emmie.nl/api/reports-presence
EMMIE_STAGING_REPORTS_URL=https://staging.emmie.nl/api/reports-presence
EMMIE_LOCAL_REPORTS_URL=http://localhost:8000/api/reports-presence

WEATHER_API_BASE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
WEATHER_API_KEY=

GITHUB_ACTIONS_TOKEN=
ATLASSIAN_APP_PASSWORD=
