APP_NAME=RappPresence
APP_ENV=local
APP_DEBUG=true
PORT=3003
VITE_APP_URL=http://localhost:3003

GITHUB_ACTIONS_TOKEN=

WEATHER_API_BASE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
WEATHER_API_KEY=